body{
	font-family: 'Archivo Narrow', sans-serif;
}
header {
	background-color: rgba(28, 43, 74,0.5);
	color: white;
	text-align: center;
	padding: 150px 0 183px 0;
	background-image: url('../images/me.jpg');
	background-repeat: no-repeat;
	background-position: center;
}
p {
	font-size: 18px;
	font-weight: 500;
	letter-spacing: -0.013em;
	line-height: 1.4;
}

h1 {
	margin: 0 0 0 0;
	font-size: 80px;
}

h2{
	font-size: 30px;
	margin: 0;

}

h3 { 
	margin: 0 0 43px 0;
	text-align: center;
	font-size: 40px;


	 }

section > div {
	width: 960px;
	margin: auto;
	padding: 35px 0 0 0;=
	background-color: rgba(0,255,255,.3)
	line-height: 25px;
	text-align: left;

}
ul{
	list-style-type: none;
	margin:0;
	padding:0;
}
li{
	width:50%;
	height:170px;
/*	background-color: rgba(255,0,255,.3);*/
	padding-right:25px;
	box-sizing: border-box;
	display: inline-block;

}

li img{
	height: 150px;
	width:200px;
	float:left;
	margin-right: 12px;

}

h4{
	font-size: 20px;
	line height: 1.4px;
	margin:0 0 6px 0;
	margin-bottom:5px;
}

li p{
	margin:0;
}

section.section_one {
	background-color: rgba(27, 57, 112,0.9);
	padding: 0px 0 25px 0;
	color: white;


}


.section_one img {
	float: right;
	width: 400px;
	height: 300px;
	margin-left: 36px;
	margin-bottom: 22px;
}

section.section_two {
	background-color: rgba(58, 103, 186,0.9);
	padding: 0px 0 50px 0;
	color: white;
}

section.section_two > div{

}

section.section_three {
	background-color: rgba(98, 148, 240,0.9);
	padding: 0px 0 100px 0;
	
	color: white;
}

section.section_three > div{

}
.section_three h3{
margin-bottom: 37px;
}
.section_three p{
	font-size: 25px;
	line-height: 1.4;
	word-spacing: 0.03em;
/*	width:73%;*/
	margin:0 122px 0 130px;
	text-align: center;

}
footer{
	height:50px;
	font-size: 15px;
	margin: 38px 0 0 165px;
	color:rgb(196, 218, 255);
	background-color: rgba(255, 255, 255, 0.9);
}
