html{
	max-width: fixed;
	min-width: fixed;
	height:100%;
	width:100%;
	margin:0 0 0 0;
}

body{
	margin:0 0 0 0 ;
	display: inline-block;
	box-sizing: border-box;
	/*width:auto;*/
	/*background-position: center;*/
	/*font-family: 'Dokdo', cursive;*/
}

header {
	display: inline-block;
	box-sizing: border-box;
	background-color: rgba(28, 43, 74,0.5);
	color: white;
	top:76%;
	text-align: center;
	/*padding: 1370px 0px 183px 0px;*/
	width:100%;

	/*background-image: url('../images/banana.jpg');
	background-size: cover;*/
	background-repeat: no-repeat;
	background-position: center;
}
.banana{
/*	display: inline-block;
	box-sizing: border-box;*/
	margin-right:1%;
	width:100%;
	height:100%;

	background-size: cover;

	left:0%;
	top:0%;
}
.mix{
position:relative;
float:right;
width: 40%;
/*height:200px;*/
margin-top:5px;
margin-bottom:0px;
right:10%;

}
.batter{
position:relative;
float:left;
width: 43%;
/*height:225px;*/
margin-top: 10px;
margin-bottom:5px;
left:10%;
bottom:-9.5px;
}
.bread{
position:relative;
float:right;
width: 45%;
/*height:380px;*/
margin-top: 5px;
margin-bottom:5px;
right:10%;
/*left:74px;*/

}

.mixline{
position:relative;
width:67%;
top:-27px;
/*top:2114px;*/
padding-bottom:20px;
float:left;
}

.batterline{
position:relative;
width:63%;
/*margin-right:-29px;*/
/*top:336%;*/
top:-16.99px;

/*top:2260.5px;
left:42%;*/
padding-top: 15px;
float:right;

}
.breadline{
position:relative;
width:63%;
/*margin-right:-29px;*/
padding-top:50px;
top:-62px;
/*top:-385px;*/
/*top:2946px;*/
/*left:30%;*/
float:left;

}

div{
	background-color:#FFDF29;
	padding-top:7px; 
	padding-bottom: 7px;
	width: 100%;
	/*margin-left: -1%;*/

	/*right:0%;
	left:0%;*/

}


h1{
	/*font-family: 'Sacramento', cursive;*/
	/*font-family: 'Amatic SC', cursive;*/
	font-family: 'Bitter', serif;
	font-size: 60px;
	color:#FFDF29;
	position:relative;
	margin-top: -5%;
	margin-bottom:-10%;
	top:76%;
	letter-spacing: 1.1px;
	/*right:1%;*/
	width:100%;
	padding-top:30px;
	padding-bottom: 10px;
	padding-left:20px;
	display: inline-block;
	box-sizing: border-box;
	font-weight: bold;
	background-color:#683A02;
	text-align: left;
	/*background-position: center;*/
}
.rec{
	display: inline-block;
	box-sizing: border-box;
	/*float: right;*/
	position:absolute;
	float:right;
	/*margin-right:.1%;
	margin-top: -9%;*/
	/*margin-bottom:-10%;*/
	width:170px;
	max-width:180px;
	height:50px;
/*	top:1085px;*/
	top:-25px;
	right:0;
/*	right:px;*/
	background-color:#FFDF29;

}

h2{
/*	margin-left: -1.1%;*/
	display: inline-block;
	box-sizing: border-box;
	/*font-family: 'Sacramento', cursive;*/
/*	font-family: 'Amatic SC', cursive;*/
	font-family: 'Bitter', serif;
	letter-spacing: 1.1px;
	color:#FFDF29;
	background-color:#683A02;
	font-size: 25px;
	width:100%;
	padding-left:20px;
	margin-top:2%;

/*	background-position: center;*/
	text-align: left;
	padding:10px;
	/*margin-left:10%;*/
}

h3{
	/*font-family: 'Sacramento', cursive;*/
	/*font-family: 'Amatic SC', cursive;*/
	font-family: 'Bitter', serif;
	color:#FFDF29;
	background-color:#683A02;
	font-size: 25px;
	padding:10px;
	margin-top:2%;
	padding-left:20px;
	letter-spacing: 1.1px;
	/*margin-left: -1.1%;*/
	width:100%;
	background-position: center;
	text-align: left;
	/*margin-left:10%;
*/	display: inline-block;
	box-sizing: border-box;
}
.ingre{
	display: inline-block;
	box-sizing: border-box;
	width:90%;
	max-width: 1000px;
	margin-left:10%;
	font-family: 'futura', sans-serif;
	font-size:12px;
	line-height: 1.8;
	color:#6C4305;
}

.instr{
	display: inline-block;
	box-sizing: border-box;
	width:70%;
	max-width: 1000px;
	margin-left:10%;
	font-family: 'futura', sans-serif;
	color:#6C4305;
	line-height: 1.8;
	font-size:12px;
}

footer{
	left:74px;
	display: inline-block;
	box-sizing: border-box;
	width:90%;
	max-width: 1000px;
	margin-left:10%;
	font-family: 'Amatic SC', cursive;
	color:#6C4305;
	font-size: 12px;
}