header{
	margin-bottom: 3rem;
}
p{
	line-height: 1.6
}
.see-all{
	text-transform: uppercase;
	font-size: 0.8em;

}
h1{
	font-size:2.5rem;
	
}
h2{
	text-transform: uppercase;
	font-size: 1rem;
}
h1,h2{
	font-weight: 200;
}
img{
	width: 100%;
}
section.cast li{
	width:25%;
}

ul.shows>li{ border-top: 1px solid skyblue;
}

li.selected >a{
	color:black;
	font-weight: bold;
}
.cast div:first-of-type{
	font-size: 0.8em;
	font-weight:bold;
}
.cast div:nth-of-type(2){
	font-size: 0.8em;
	font-style:italic;
}
section.seasons li:last-of-type:after{
	content: "*";"
}
section.seasons li:last-of-type:after{
	content: "*";}

.seasons:after{
	content:"* Final Season";
	color:#999;
	font-size: 0.7rem;
}
