h1{
	font-size:2.5em;
	font-weight:medium;
}
h2{
	font-size:1.5em;
	letter-spacing:1px;
}
div{
	font-size:0.8em;
	color:rgba(52, 73, 94, 50%);
}
body{
	color:#34495E;
	width:55%;
	max-width: 800px;
	margin-left:22%;
	text-align:left;
	background-color: #EAFAF1; 
	font-family: 'Roboto Condensed', sans-serif;
}
p{
	letter-spacing: 1.4px;
	line-height: 1.5;
	

}
.emphasize{
	font-style:italic;
}

.font{
	font-size:1.5em;
	font-weight:bold;
	letter-spacing:1px;
}
.weight{
	font-weight:bold;
}
.space{
	letter-spacing: .3em;
}
.press{
	letter-spacing:-0.06em;
}
.line{
	text-decoration:underline;
}
.thro{
	text-decoration:line-through;
}
.over{
	text-decoration:overline;
}

.upper{
	text-transform:uppercase;
}
.lower{
	text-transform:lowercase;
}
.cap{
	text-transform:capitalize;
}